<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test Suite">
    <test name="Base Tests">
        <classes>
            <class name="Base.BaseApi"/>
            <class name="Base.BaseEbay"/>
             <class name="Base.BaseGoogle"/>
            <!-- Agrega todas las clases de test que necesites -->
        </classes>
    </test>
</suite>
